<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span *ngIf="projects.length > 0" class="h3">Lista de Projetos</span>
            <span *ngIf="projects.length == 0"class="h3 " style="margin: 30px;">Sem Projetos Cadastrados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink='/create-project'>Adiconar</button>
            <table *ngIf="projects.length > 0" class="table  table-striped mt-4">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Início</th>
                    <th>Término</th>
                    <th>Valor</th>
                    <th>Risco</th>
                    <th>Participantes</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects">
                        <td>{{ project.nome_projeto }}</td>
                        <td>{{ project.data_inicio }}</td>
                        <td >{{ project.data_fim }}</td> 
                        <td>{{ project.valor_projeto | currency }}</td>
                        <td *ngIf="project.risco_projeto == 0">Baixo</td>
                        <td *ngIf="project.risco_projeto == 1">Medio</td>
                        <td *ngIf="project.risco_projeto == 2">Alto</td>
                        <td>{{ project.participantes }}</td>
                        <td style="white-space: nowrap">
                        <i [routerLink]="['/modify-project/',project.id]" class="fas fa-edit fa-md mr-2"></i> 
                        <i (click)="deleteProject(project.id, project.nome_projeto)" class="far fa-trash-alt fa-md mr-2"></i>
                        <i (click)="getRiskFactor(project.risco_projeto, project.valor_projeto)" data-toggle="modal" data-target="#exampleModal"class="fas fa-calculator"></i></td>

                   </tr>
                    
                </tbody>
              </table>
        </div>
    </div>
    
</div>

<!-- Modal -->
<div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Calcular investimento</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
        <form [formGroup]="investForm" >
          <div>
            <label class="form-label">Valor investido</label>
            <input type="number"  class="form-control" formControlName="invest" placeholder="Insira o valor a investir">
          </div>
        <div>
          <label class="form-label">Retorno</label>
        <input type="number" readonly class="form-control" formControlName="result" placeholder="Retorno Investimento">
        </div>
      </form>
       <div class="modal-footer">
        <button type="button" (click)="calculateInvest()" class="btn btn-dark" >Calcular</button>
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
       </div>
     </div>
   </div>
 </div>
